.app-list {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--shadow-color);
    font-size: 1rem;
}
.app-list a {
    text-decoration: none;
    color: var(--shadow-color);
    font-weight: bold;
    margin-left: 10px;
}
.app-list a:focus,
.app-list a.active {
    text-decoration: underline;
    color: var(--body-font-color);
}
