:root {
    --main-color: #ffffff;
    --secondary-color: #CCCCCC;
    --body-font-color: #484848;
    --main-font-color: #000000;
    --black-color: #000000;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --mobile-card-color: #323131d0;
    --main-background: url("/src/images/main-background.jpg");
}
html {
    height: 100%;
}
body {
    /* background-color: var(--main-color); */
    position: relative;
    margin: 0;
    padding: 0;
    color:  var(--body-font-color);
    font: 14px Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    min-height: 100%;
    background-image: var(--main-background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}
#root {
    margin: o;
    padding: 0;
}
@media screen and (max-height: 768px) {
    html {
        height: 120vh;
    }
}
@media screen and (max-width: 300px) and (max-height: 660px) {
    html {
        height: 130vh;
    }
}
